<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="boardSQL"><!-- mapper 구분자. -->
 	<insert id="write" parameterType="map"><!-- 풀쿼리네임 써주세요. -->
 	insert into board values
 	</insert>
 	
 	
</mapper>